[package]
authors = ["The GNOME Project"]
categories = ["camera", "os::linux-apis"]
description = "GTK Widget for cameras using gstreamer and pipewire"
edition = "2021"
keywords = ["camera", "gtk", "gstreamer"]
license = "GPL-3.0-or-later"
name = "aperture"
repository = "https://gitlab.gnome.org/GNOME/Incubator/snapshot"
documentation = "https://gnome.pages.gitlab.gnome.org/Incubator/snapshot/doc/aperture"
version = "0.1.0"

[dependencies]
ashpd =  {version = "0.4.0", features = ["gtk4", "tracing"] }
gst = { package = "gstreamer", version = "0.20", features = ["v1_20"] }
gst-pbutils = { package = "gstreamer-pbutils", version = "0.20" }
gst-plugin-gtk4 = { version = "0.10.5", features = ["wayland", "x11egl", "x11glx"] }
gst-video = { package = "gstreamer-video", version = "0.20" }
gtk = { package = "gtk4", version = "0.6.6", features = ["gnome_44"] }
libc = "0.2.141"
log = "0.4.17"
once_cell = "1.17.1"
