[package]
authors = ["The GNOME Project"]
categories = ["multimedia", "os::linux-apis", "gui"]
description = "GTK Widget for cameras using gstreamer and pipewire"
edition = "2021"
keywords = ["camera", "gtk", "gstreamer"]
license = "GPL-3.0-or-later"
name = "aperture"
repository = "https://gitlab.gnome.org/GNOME/snapshot"
documentation = "https://gnome.pages.gitlab.gnome.org/snapshot/doc/aperture"
version = "0.4.1"
rust-version = "1.70"

[dependencies]
gst = { package = "gstreamer", version = "0.21", features = ["v1_20"] }
gst-pbutils = { package = "gstreamer-pbutils", version = "0.21" }
gst-plugin-gtk4 = { version = "0.11", features = ["wayland", "x11egl", "x11glx"] }
gst-video = { package = "gstreamer-video", version = "0.21" }
gtk = { package = "gtk4", version = "0.7", features = ["gnome_45"] }
log = "0.4.17"
once_cell = "1.17.1"
