.shutterbutton {
  color: white;
  background: none;
  border-radius: 999px;
  padding: 0;
  transition-property: color;
}

.shutterbutton:hover {
  color: alpha(currentColor, .85);
}

.shutterbutton:active {
  color: alpha(currentColor, .97);
}

gallery {
  background-color: black;
}
