.shutterbutton,
.gallerybutton {
  color: white;
  background-color: transparent;
  border-radius: 999px;
  padding: 0;
  transition-property: color, outline-color, outline-width, outline-offset;
}

.shutterbutton {
  min-height: 64px;
  min-width: 64px;
}

.gallerybutton,
.camerabutton {
  min-height: 44px;
  min-width: 44px;
}

.shutterbutton:hover, .gallerybutton:hover {
  color: alpha(currentColor, .85);
}

.shutterbutton:active,
.gallerybutton:active {
  color: alpha(currentColor, .97);
}

gallery {
  background-color: black;
}

.videoplayercontrols {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.cameracontrols {
  background: rgba(0, 0, 0, 0.45);
  padding: 12px;
}